$mainColor: #838dd2;
$mainWhite: #fff;
$mainBlack: #222;
$mainGray: #ccc;
$padding: 16px;
$fontSize16: 16px;
$fontSize24: 24px;
$transition: 0.5s;
//변수선언 end

//reset start
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: top;
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: none;
}

body {
    line-height: 1.6;
    font-family: '맑은 고딕', sans-serif;
    font-size: 14px;
}

//reset end

//mixin start
@mixin flexlayout($dir: row, $wrap: nowrap, $just: space-between, $align: center) {
    display: flex;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
    align-items: $align;
}

@mixin border($weight: 1px, $line: solid, $color: #ccc) {
    border: $weight $line $color;
}
@mixin boxReset($border: none, $outline: none, $paddingLeft: 10px, $background: none) {
    border: $border;
    outline: $outline;
    padding-left: $paddingLeft;
    background: $background;
}

//mixin end

//global style start
.inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

//global style end



//header start
.header {
    height: 80px;

    .headerTop {
        @include flexlayout();

        .headerLogo {
            color: $mainColor;
        }

        ul {
            @include flexlayout();

            li {
                font-size: 13px;
                &:not(:last-child){
                    padding-right: $padding;
                }
                

            }
        }
    }

    .headerBottom {
        @include flexlayout();
        height: 40px;

        .headerLeft {
            @include flexlayout();

            .toggle {
                margin-right: 24px;

                span {
                    display: block;
                    width: 25px;
                    height: 3px;
                    background: $mainBlack;

                    &:not(:last-child) {
                        margin-bottom: 7px;
                    }
                }
            }
            ul {
                @include flexlayout();
                font-size: $fontSize16;
                li{
                    transition: $transition;
                    line-height: 40px;
                    &:not(:last-child){
                        padding-right: $padding;
                    }
                    &::after{
                        content: "";
                        display: block;
                        width: 0%;
                        height: 3px;
                        background: $mainColor;
                        transition: $transition;
                    }
                    &:hover{
                        &::after{
                            content: "";
                            display: block;
                            width: 100%;
                            height: 3px;
                            background: $mainColor;
                        }
                    }
                }
            }
        }
        .searchBox {
            @include border($color: $mainColor);
            width: 300px;
            height: 100%;
            @include flexlayout();
            border-radius: 40px;
            padding: 0 $padding;
            input{
                @include boxReset($background: inherit);
                width: 230px;
                height: 100%;
                border-radius: 30px;
            }
            .searchBtn{
                font-size: $fontSize24;
                color: $mainColor;
            }
        }
    }
}
//header end


//mainSlide start

.sliderWrap {
    position: relative;

    .sliderView {
        width: 100vw;
        height: 600px;
        overflow: hidden;

        .sliderList {
            @include flexlayout();
            height: inherit;
            transition: 0.2s;

            .sliderItem {
                height: inherit;
            }
        }
    }

    .sliderNav {
        .sliderBtn {
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            background: $mainWhite;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
        .prevBtn {
            left: 50px;
        }
        .nextBtn{
            right: 50px;
        }
    }

    .sliderIndis{
        @include flexlayout();
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translate(-50%);
        .sliderIndi{
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 13px;
            transition: 0.2s;
            background: darkgoldenrod;
            &:not(:last-child){
                margin-right: 10px;
            }
        }
        .sliderIndi.currentIndi {
            background: darkmagenta;
            width: 40px;
        }
    }
}

//mainSlide end