$mainColor: #838dd2;
$mainWhite: #fff;
$mainBlack: #222;
$mainGray: #ccc;
$padding: 16px;
$fontSize16: 16px;
$fontSize24: 24px;
$fontSize28: 28px;
$fontSize48: 48px;
$transition: 0.5s;
//변수선언 end

//reset start
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: top;
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: none;
}

body {
    line-height: 1.6;
    font-family: '맑은 고딕', sans-serif;
    font-size: 14px;
    border-collapse: collapse;
}
//reset end

//mixin start
@mixin flexlayout($flex: flex, $dir: row, $wrap: nowrap, $just: space-between, $align: center) {
    display: $flex;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
    align-items: $align;
}

@mixin border($weight: 1px, $line: solid, $color: #ccc) {
    border: $weight $line $color;
}

@mixin boxReset($border: none, $outline: none, $background: none) {
    border: $border;
    outline: $outline;
    background: $background;
}
//mixin end

//global style start
.inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
    //loader
    .loader {
        width: 100%;
        height: 100vh;
        display: fixed;
        color: $mainColor;
    }
    //slide content(main-click-slide) start
    .contentWrap {
        position: relative;
        .contentView {
            width: 100%;
            overflow: hidden;
            position: relative;
        }
        //Slide에 height 설정 해주면 됨
        .contentSlide {
            width: 100%;
            height: 400px;
            transition: 0.3s;
            @include flexlayout($just: flex-start);

            .contentItem {
                border-radius: 10px;
                flex-shrink: 0;
                height: 100%;
                position: relative;
                overflow: hidden;
            }
        }
    }
    .contentImg {
        height: 70%;
    
        img {
            width: 100%;
            height: 100%;
        }
    }
    .contentInnerText {
        height: 30%;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background: $mainWhite;
        padding: $padding;
        h3 {
            font-size: 18px;
        }
        .heart {
            font-size: 20px;
            position: absolute;
            top: 16px;
            right: 16px;
            display: block;

            .emptyHeart{
                    color: $mainGray;
            }
            .trickEmptyHeart{
                color: $mainGray;
                background: $mainWhite;
                position: absolute;
                right: 0;
                top: 4px;
                z-index: 11;
            }
            .fullHeart{
                color: red;
                position: absolute;
                right: 0;
                top: 4px;
                z-index: 10;
            }
        }
        p {
            &:first-of-type{
                padding: 10px 0;
            }
            &:nth-of-type(2) {
                font-size: 12px;
                color: $mainGray;
            }
        }
    }
    .listIcon {
        margin: 0 6px;
        font-size: 26px;
        color: $mainBlack;
    }

    .NavBtn {
        position: absolute;
        display: inline-block;
        width: 50px;
        height: 50px;
        background: $mainWhite;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px, rgba(0, 0, 0, 0.1) 0px 4px 5px;
        border-radius: 50px;
        top: 35%;
        @include flexlayout($just: center);

        .BtnArrow {
            font-size: 16px;
            color: $mainBlack;
        }

        .BtnArrow.arrowLeft {
            margin-right: 4px;
        }

        .BtnArrow.arrowRight {
            margin-left: 4px;
        }
    }
    .NavBtn.PrevBtn {
        left: -25px;
    }
    .NavBtn.NextBtn {
        right: 0;
    }
    .sectionTitle {
        font-size: $fontSize28;
    }
    .coverUp{
        display: block;
        width: inherit;
        height: inherit;
        position: absolute;
        top: 0;
        left: 0;
    }
    //slide content(main-click-slide) end
    .topTitle{
        @include flexlayout($align:flex-start);
        height: 120px;
        padding-top: 50px;
    }
    //text input style
    .signTextInput{
        padding-left: 10px;
        width: 500px;
        height: 50px;
        outline: none;
        @include border();
    }
    .signUpBtn{
        width: 100%;
        height: 50px;
        background: $mainColor;
        outline: none;
        @include border();
        color: $mainWhite;
        font-size: 18px;
        font-weight: bold;
    }
    .formAlert {
        font-size: 12px;
        color: crimson;
    }
    .formAlert.signValid {
        color: green;
    }
    //list
    .listBottom{
        @include flexlayout($just:flex-start, $wrap:wrap);
        width: 100%;
        .listItem {
            position: relative;
            width: 23%;
            &:not(:nth-child(4n+0)){
                margin-right: 2%;
            }
            margin-bottom: 20px;
            border-radius: 10px;
            overflow: hidden;
            height: 400px;
        }
    }
    .bottomline{
        width: 100%;
        height: 3px;
        background: $mainColor;
    }
    //다용도 확인/취소 체크 알림창
    .blackCoverBg{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.07);
        z-index: 30;
    }
    .whiteBox {
        width: 600px;
        height: 400px;
        position: fixed;
        z-index: 35;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $mainWhite;
        @include flexlayout($dir: column, $just: flex-start)
    }
    .msgBoxAlert {
        padding-top: 110px;
        padding-bottom: 20px;
        font-size: 26px;
        span {
            color: rgb(216, 0, 0);
            font-weight: bold;
        }
    }
    .msgBoxDelProject{
        padding-bottom: 90px;
        span {
            padding: 0 20px;
            font-size: 18px;
            font-weight: bold;
        }
    }
    .msgBtn {
        width: 130px;
        height: 60px;
        border-radius: 10px;
        transition: 0.3s;
        @include boxReset();
        @include border();
        font-size: 20px;
        &:first-child{
            margin-right: 60px;
        }
        &:hover {
            font-weight: bold;
            background: $mainBlack;
            @include border($color: $mainWhite);
            color: $mainWhite;
        }
    }
    //paging
    .pagination{
        @include flexlayout();
        @include border($color: #eee);
        height: 50px;
        margin-top: 30px;
        border-radius: 10px;
        padding: 0 20px;
        button {
            cursor: pointer;
        }
        button.currentPage {
            font-weight: bold;
            color: $mainBlack;
        }
        button:disabled{
            cursor: context-menu;
        }
        .pagingArrow{
            @include boxReset();
            font-size: 24px;
            @include flexlayout($just: center);
        }
        .pagingBtn{
            color: #777;
            width: 30px;
            height: 20px;
            font-size: 18px;
            @include boxReset();
        }
    }
//global style end



//header start
.headerHeight{
    height: 110px;
}
.headerWrap{
    height: 110px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    width: 100%;
    background: $mainWhite;
    border-bottom: 1px solid #eee;
}
.header {
    .headerTop {
        @include flexlayout();

        .headerLogo {
            color: $mainColor;
        }

        ul {
            @include flexlayout();

            li {
                font-size: 13px;

                &:not(:last-child) {
                    padding-right: $padding;
                }
            }
        }
    }

    .headerBottom {
        @include flexlayout();
        height: 40px;

        .headerLeft {
            @include flexlayout();

            .toggle {
                margin-right: 24px;
            }

            ul {
                @include flexlayout();
                font-size: $fontSize16;

                li {
                    transition: $transition;
                    line-height: 40px;
                    &:not(:last-child) {
                        padding-right: $padding;
                    }

                    .headerLineSpan {
                        display: block;
                        width: 0%;
                        height: 3px;
                        background: $mainColor;
                        transition: $transition;
                    }
                    .headerLineSpan.bottomLine{
                        width: 100%;
                    }

                    &:hover {
                        span {
                            display: block;
                            width: 100%;
                            height: 3px;
                            background: $mainColor;
                        }
                    }
                }
            }
        }

        .searchBox {
            @include border($color: $mainColor);
            width: 300px;
            height: 100%;
            @include flexlayout();
            border-radius: 40px;
            padding: 0 $padding;

            input {
                @include boxReset($background: inherit);
                width: 230px;
                height: 100%;
                border-radius: 30px;
            }

            .searchBtn {
                font-size: $fontSize24;
                color: $mainColor;
            }
        }
    }
}
//header end
//haederToggle start
.toggleMenu {
    ul {
        @include flexlayout();
        li{
            width: 16.6666%;
            line-height: 100px;
            text-align: center;
            font-size: 16px;
        }
    }
}
//headerToggle end

//mainSlide start

.sliderWrap {
    position: relative;

    .sliderView {
        width: 100%;
        height: 500px;
        overflow: hidden;

        .sliderList {
            @include flexlayout();
            height: inherit;
            transition: 0.2s;

            .sliderItem {
                height: inherit;
            }
        }
    }

    .sliderNav {
        .sliderBtn {
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            background: $mainWhite;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }

        .prevBtn {
            left: 50px;
        }

        .nextBtn {
            right: 50px;
        }
    }

    .sliderIndis {
        @include flexlayout();
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translate(-50%);

        .sliderIndi {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 13px;
            transition: 0.2s;
            background: darkgoldenrod;
            
            &:not(:last-child) {
                margin-right: 10px;
            }
        }

        .sliderIndi.currentIndi {
            background: darkmagenta;
            width: 40px;
        }
    }
}
//mainSlide end

//TopRanking(main) start
    .topRankingWrap {
            .topBox {
                margin-right: 2%;
                width: 23%;
                border-radius: 10px;
                overflow: hidden;
            }
    }
//TopRanking(main) end

//imminent(main) start
.imminent{
    margin-top: 50px;
    .immiProjects{
        width: calc(450px * 10);
        justify-content: flex-start;
        li{
            width: 400px;
            margin-right: 50px;
        }
        .immiText{
            @include flexlayout($dir: column, $align: flex-start);
            a {
                span {
                    font-size: 18px;
                    padding-left: 10px;
                }
            }
        }
        h3{
            font-size: 20px;
        }
    }
}
//imminent(main) end

//Theme (main) start
.themeWrap{
    .themeProjectView{
        .themeProject{
            width: 18%;
            margin-right: 2%;
            overflow: hidden;
        }
    }
}
//Theme (main) end 

//NewProject (main) start
.newWrap{
    .newProjectView{
        .newProject{
            width: 18%;
            margin-right: 2%;
            overflow: hidden;
        }
    }
}
//NewProject (main) end

//PotentUp (main) start
.potenWrap{
    .potenView{
        .potenProject{
            width: 31.3333%;
            margin-right: 2%;
            border-radius: 10px;
            overflow: hidden;
        }
    }
}
//PotentUp (main) end

//CommingSoon (main) start
// 글로벌스타일 list 참조
//CommingSoon (main) end

//SignUp (detail) start
.signUpWrap{
    form{
        @include flexlayout($dir:column, $just: center);
        input.signInvalid {
            border: 2px solid crimson;
        }
        .genderCheck{
            span{
                margin-right: 15px;
            }
            input{
                width: 15px;
                height: 15px;
                margin-right: 5px;
            }
        }
        
        p{
            font-size: $fontSize16;
            padding-bottom: 10px;
        }
        .addrSearchBtn{
            width: 100px;
            height: 35px;
            background: $mainGray;
            outline: none;
            @include border($color: #eee);
            color: $mainWhite;
            margin-left: 30px;
            transition: 0.2s;
            cursor: pointer;
            &:hover{
                background: #555;
            }
        }
    }
    ul{
        li{
            width: 100%;
            padding: $padding;
            @include flexlayout($dir:column, $align:flex-start);
            input+input, span+input {
                margin-top: 10px;
            }
        }
    }
}
//SignUp (detail) end

//Login (detail) start
.loginWrap {
    min-height: 500px;
    form {
        @include flexlayout($dir: column, $just: center);
        height: 500px;
    }
    h1{
        height: 60px;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid $mainGray;
        margin-bottom: 50px;
    }
    ul{
        height: 300px;
        li {
            @include flexlayout($dir:column);
        }
        li.loginAlert{
            height: 50px;
            justify-content: center;
            span {
                font-size: 12px;
                color: crimson;
            }
        }
    }
    input+input {
        margin-top: 10px;
    }
}
//Login (detail) end

//ProjectDetail (detail) start
.pDetailTitle {
    position: relative;
    text-align: center;
    font-size: 40px;
    margin: 30px 0;
    height: 80px;
}
.pDetailAct {
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    height: 50px;
    @include flexlayout();
    .heart {
        span {
            position: absolute;
            top: 14px;
            right: 0;
            display: block;
            width: auto;
            height: auto;
        }
    }
    .pDetailfullHeart {
        color: red;
        z-index: 10;
        position: absolute;
    }
    .pDetailEmptyHeart {
        color: $mainGray;
        position: absolute;
    }
    .pDetailHit {
        margin-right: 90px;
        font-size: 14px;
    }
    .trickEmptyHeart{
        color: $mainGray;
        background: $mainWhite;
        z-index: 11;
        position: absolute;
    }
}
.projectDetailWrap{
    @include flexlayout();
    width: 100%;
    min-height: 600px;
    height: 600px;
    margin: 50px 0;
    .pDetailImg{
        width: 50%;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .pDetailInfo{
        width: 50%;
        height: 100%;
        padding-left: 30px;
        ul{
            @include flexlayout($dir: column, $align: flex-start);
            height: 100%;
        }
        li {
            width: 100%;
            p{
                font-size: 32px;
            }
            span{
                font-size: 14px;
            }
        }
        li.pDetailFlexLi{
            display: flex;
        }
        .pDetailBtn {
            width: 100%;
            height: 70px;
            @include boxReset();
            background: $mainColor;
            color: $mainWhite;
            font-size: 26px;
            font-weight: bold;
            border-radius: 10px;
        }
    }
}
//ProjectDetail (detail) end

//CreateProject (detail) start
.createWrap {
    h1 {
        text-align: center;
        margin: 20px 0;
    }
    form {
        min-height: 600px;
        @include flexlayout($just: center);
    }
    li {
        margin: 30px 0;
        width: 100%;
        > div {
            @include flexlayout($just:flex-start, $align: flex-start);
            width: 100%;
        }
        p {
            width: 170px;
        }
        input {
            width: 500px;
            height: 50px;
            padding: 0 10px;
            outline: none;
            @include border();
            margin: 5px 0;
        }
        .createRadioInput{
            display: inline-flex;
            @include flexlayout($flex: inline-flex, $just: flex-start);
            input{
                width: 14px;
                height: 14px;
                padding: 0;
                margin: 0 10px;
            }
        }
        
        input.inValid {
            border: 2px solid crimson;
        }
        input[type="file"] {
            width: 200px;
            height: 200px;
            opacity: 0;
            position: relative;
            z-index: 5;
        }
        .cameraInit{
            width: 200px;
            height: 200px;
            position: relative;
            background: rgb(243, 243, 243);
            @include border($color: #ddd);
            .cameraIcon {
                @include flexlayout($just: center, $dir: column);
                width: 200px;
                height: 200px;
                position: absolute;
                top: 0;
                left: 0;
                font-size: 80px;
                color: #aaa;
                span {
                    font-size: 14px;
                }
                .imgView {
                    width: 200px;
                    height: 200px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                }
            }
        }
        button {
            width: 100%;
            background: $mainColor;
            color: $mainWhite;
            @include border();
            height: 50px;
            font-size: 20px;
            font-weight: bold;
            margin-top: 30px;
        }
    }
}
//CreateProject (detail) end

//ProjectList (detail) start
.projectlistWrap{
    margin-top: 80px;
}
.listTop{
    .listTitle{
        padding: 30px 0;
    }
}
//ProjectList (detail) end

//MyPage (detail) statr
.myPageWrap{
    @include flexlayout($align: flex-start);
    margin-top: 40px;
    .myPageLeft{
        width: 27%;
        margin-right: 3%;
    }
    .myInfo {
        padding: 30px;
        @include flexlayout($just: center);
        @include border();
        border-radius: 10px;
        height: 300px;
        margin-bottom: 40px;
        padding-bottom: 30px;
    }
    .userName {
        .listIcon {
            margin-right: 20px;
        }
        .userInfo {
            font-size: 22px;
        }
    }
    .myMenu {
        li {
            padding: 10px 0;
            border-bottom: 1px solid #555;
            a {
                @include flexlayout($just: flex-start);
            }
        }
    }
    .myPageRight{
        min-height: 300px;
        width: 70%;
    }

}
//MyPageList (detail) start
.myPage {
    h2 {
        font-size: 24px;
        padding-bottom: 10px;
        border-bottom: 2px solid $mainBlack;
        margin-bottom: 10px;
    }
}
.myListWrap{
    .myListItems{
        width: 100%;
        li {
            text-align: center;
            height: 200px;
            padding: 10px 0;
            border-bottom: 1px solid $mainGray;
            position: relative;
            > a {
                @include flexlayout();
                height: 100%;
                width: 100%;
            }
        }
        .myListImg {
            width: 30%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .myListInfo {
            padding: 30px 0;
            width: 35%;
            height: 100%;
            @include flexlayout($dir: column);
        }
        .myListPay{
            padding: 30px 0;
            width: 35%;
            height: 100%;
        }
        h3 {
            font-size: 22px;
        }
        .myListSpan {
            font-size: 18px;
        }
        .myListProjectBtn{
            position: absolute;
            bottom: 10px;
            right: 10px;
            .projectBtn{
                width: 70px;
                height: 35px;
                @include boxReset();
                @include border();
                border-radius: 10px;
                transition: 0.3s;
                &:first-child{
                    margin-right: 10px;
                }
                &:hover {
                    background: $mainBlack;
                    @include border($color: $mainWhite);
                    color: $mainWhite;
                }
            }
        }
    }
}
//MyPageList (detail) end 
//MyPage (detail) end

//Footer start
footer{
    width: 100%;
    border-top: 1px solid $mainBlack;
    margin-top: 50px;
}
.footerWrap {
    padding: 20px 0;
    .footerInnerTop {
        @include flexlayout($align: flex-start);
        border-bottom: 1px solid $mainGray;
        padding-bottom: 30px;
    }
    .footerTopLeft {
        @include flexlayout($align: flex-start);
        >li {
            h3 {
                font-size: 16px;
                font-weight: bold;
            }
            &:not(:last-child) {
                padding-right: 100px;
            }
            li {
                padding-top: 10px;
            }
        }
    }
    .footerInnerBottom {
        .footerBottomInfo {
            h2 {
                font-size: 16px;
                padding: 10px 0;
            }
            ul {
                @include flexlayout($dir:column, $just: flex-start, $align:flex-start)
            }
            li {
                color: #777;
                font-size: 12px;
            }
            strong{
                color: $mainBlack;
            }
            .footerMarginSpan{
                margin-right: 20px;
            }
        }
    }
}
.footerBottom {
    width: 100%;
    height: 60px;
    background: $mainBlack;
    line-height: 60px;
    p{
        font-size: 12px;
        color: $mainWhite;
    }
}

//Footer end
